<!-- itérer dans collection et affiche chaque obj de collection -->
<!-- utiliser des templates de pages  -->
<!-- property binding -->
<!-- <app-template-container title={{titleParent}}></app-template-container> -->

<app-template-full-width [title]='titleParent' *ngIf='collection'>
  <!-- ici on veut afficher un tableau : attention besoin de ng-content-->
  <!-- faire passer collection à app-table-light -->
  <app-table-light [headers]='headers'>
    <!-- ici on projète le tableau Orders -->
        <tr *ngFor="let item of collection">
          <!--  table data cells (td)-->
          <td>
            <app-icon-edit (click)='goToEdit(item)'></app-icon-edit>
          </td>
          <td>{{item.typePresta | uppercase}}</td>
          <td>{{item.client}}</td>
          <td>{{item.nbJours}}</td>
          <td>{{item.tjmHt}}</td>
          <td>{{ item.tjmHt | total :item.nbJours }}</td>
          <td>{{ item.tjmHt | total :item.nbJours :item.tva }}</td>
          <td appState [etat]='item.state'>
            <!-- si state === item.state -->
            <select (change)='changeState(item, $event)'>
              <option [selected]='state === item.state' [value]='state' *ngFor='let state of states'>{{ state }}</option>
            </select>
          </td>
        </tr>
  </app-table-light>

  <app-btn label='Ajouter' route='/orders/add' styleBtn='btn btn-primary'>
  </app-btn>

</app-template-full-width>

<!-- afficher le composant btn-->
<!--
ajouter du style au bouton
ajouter un lien de redirection
ajouter un label = ajouter
-->


<!-- composant réutilisable et personnalisable

let s = "3" // string
Number(s) // number
let n = 3  // number

if(s == 3) // true

if(s === 3) // false

-->




<!-- etapes
  composant
  HTML event sur select
  TS récupérer la valeur par target
  déclencher une méthode dans le service avec .subscribe

  service
  méthode changeState(obj)
  service : put
  this.http.put('url', obj)

-->
